pi-lab07c-client/pi-lab07c-client/Connected Services/ServiceReference/ContactService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ContactService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IContactService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://192.168.100.6:8089/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://192.168.100.6:8089/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://192.168.100.6:8089/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/pi_lab07c.Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IContactService_GetDict_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDict" />
  </wsdl:message>
  <wsdl:message name="IContactService_GetDict_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDictResponse" />
  </wsdl:message>
  <wsdl:message name="IContactService_AddDict_InputMessage">
    <wsdl:part name="parameters" element="tns:AddDict" />
  </wsdl:message>
  <wsdl:message name="IContactService_AddDict_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddDictResponse" />
  </wsdl:message>
  <wsdl:message name="IContactService_UpdDict_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdDict" />
  </wsdl:message>
  <wsdl:message name="IContactService_UpdDict_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdDictResponse" />
  </wsdl:message>
  <wsdl:message name="IContactService_DelDict_InputMessage">
    <wsdl:part name="parameters" element="tns:DelDict" />
  </wsdl:message>
  <wsdl:message name="IContactService_DelDict_OutputMessage">
    <wsdl:part name="parameters" element="tns:DelDictResponse" />
  </wsdl:message>
  <wsdl:portType name="IContactService">
    <wsdl:operation name="GetDict">
      <wsdl:input wsaw:Action="http://tempuri.org/IContactService/GetDict" message="tns:IContactService_GetDict_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IContactService/GetDictResponse" message="tns:IContactService_GetDict_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddDict">
      <wsdl:input wsaw:Action="http://tempuri.org/IContactService/AddDict" message="tns:IContactService_AddDict_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IContactService/AddDictResponse" message="tns:IContactService_AddDict_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdDict">
      <wsdl:input wsaw:Action="http://tempuri.org/IContactService/UpdDict" message="tns:IContactService_UpdDict_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IContactService/UpdDictResponse" message="tns:IContactService_UpdDict_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DelDict">
      <wsdl:input wsaw:Action="http://tempuri.org/IContactService/DelDict" message="tns:IContactService_DelDict_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IContactService/DelDictResponse" message="tns:IContactService_DelDict_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IContactService" type="tns:IContactService">
    <wsp:PolicyReference URI="#NetTcpBinding_IContactService_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="GetDict">
      <soap12:operation soapAction="http://tempuri.org/IContactService/GetDict" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddDict">
      <soap12:operation soapAction="http://tempuri.org/IContactService/AddDict" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdDict">
      <soap12:operation soapAction="http://tempuri.org/IContactService/UpdDict" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DelDict">
      <soap12:operation soapAction="http://tempuri.org/IContactService/DelDict" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ContactService">
    <wsdl:port name="NetTcpBinding_IContactService" binding="tns:NetTcpBinding_IContactService">
      <soap12:address location="net.tcp://192.168.100.6:8090/ContactService" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://192.168.100.6:8090/ContactService</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>