pi-lab07c-client/pi-lab07c-client/Connected Services/ServiceReference/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.100.6:8089/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/pi_lab07c.Models" />
  <xs:element name="GetDict">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDictResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/pi_lab07c.Models" minOccurs="0" name="GetDictResult" nillable="true" type="q1:ArrayOfContacts" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddDict">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/pi_lab07c.Models" minOccurs="0" name="contact" nillable="true" type="q2:Contacts" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddDictResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdDict">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/pi_lab07c.Models" minOccurs="0" name="contact" nillable="true" type="q3:Contacts" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdDictResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DelDict">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelDictResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>